[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DAIME"]
	path = DAIME
	url = https://github.com/cran/DAIME
[submodule "IPPP"]
	path = IPPP
	url = https://github.com/cran/IPPP
